/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: rgba(53, 21, 82, 0.70);
    color: white;
    font-family: monospace;
    font-size: 12px;
}

/* Each module */
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
    font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#custom-spotify {
    color: rgb(102, 220, 105);
}
#custom-spacer {
  color: #B0B0B0;
}

#window {
  color: #A8E8FF; 
}

#hyprland-workspaces {
  color: #87CEFA;
}

#hyprland-workspaces.active {
  color: #6E6E9C
}

#hyprland-workspaces:hover {
  color: #FFB6C1;
}
#custom-media {
  color: #ADFF2F;
}

#custom-nvidia {
  color: #76B900
}

#temperature {
  color: #FFA500;
}

#temperature.critical {
    color: red;
}

#tray {
    color: #D3D3D3;
}

#date {
  color: #E6E6FA;
}

#time {
  color: #FFFFFF;
}

#custom-notifications {
  color: #B0B0B0
}

#custom-notifications.notification {
  color: #FF7373;
}

#custom-power {
  color: #32CD32;
}

#window {
    font-weight: bold;
}

#custom-weather {
 color: #FFEA70; 
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #888888;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #285577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
