* {
	background-image: none;
	box-shadow: none;
	font-family: monospace;
	font-weight: bolder;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: #d2a8f7;
        color: #0f0f0f;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}


#lock {
    background-color: #d15252;
    background-image: image(url("https://us-east-1.tixte.net/uploads/tay.needs.rest/Lock.png"), url("https://us-east-1.tixte.net/uploads/tay.needs.rest/Lock.png"));
}
#lock:focus, #lock:active, #lock:hover {
  background-color: #E40303;
}

#logout {
    background-color: #ffbc6b;
    background-image: image(url("https://us-east-1.tixte.net/uploads/tay.needs.rest/Logout.png"), url("https://us-east-1.tixte.net/uploads/tay.needs.rest/Logout.png"));
}
#logout:focus, #logout:active, #logout:hover {
  background-color: #FF8C00;
}

#suspend {
    background-color: #fcf374;
    background-image: image(url("https://us-east-1.tixte.net/uploads/tay.needs.rest/Suspend.png"), url("https://us-east-1.tixte.net/uploads/tay.needs.rest/Suspend.png"));
}
#suspend:focus, #suspend:active, #suspend:hover {
  background-color: #FFED00;
}

#hibernate {
    background-color: #3e8754;
    background-image: image(url("https://us-east-1.tixte.net/uploads/tay.needs.rest/Hibernate.png"), url("https://us-east-1.tixte.net/uploads/tay.needs.rest/Hibernate.png"));
}
#hibernate:focus, #hibernate:active, #hibernate:hover{
  background-color: #008026;
}

#shutdown {
    background-color: #759dfa;
    background-image: image(url("https://us-east-1.tixte.net/uploads/tay.needs.rest/Shutdown.png"), url("https://us-east-1.tixte.net/uploads/tay.needs.rest/Shutdown.png"));
}
#shutdown:focus, #shutdown:active, #shutdown:hover{
  background-color: #004CFF;
}

#reboot {
    background-color: #774e80;
    background-image: image(url("https://us-east-1.tixte.net/uploads/tay.needs.rest/Reboot.png"), url("https://us-east-1.tixte.net/uploads/tay.needs.rest/Reboot.png"));
}
#reboot:focus, #reboot:active, #reboot:hover{
  background-color: #732982;
}
